.themeButton {
    border: none;
    background: none;
    color: rgb(255, 217, 29);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;    
    align-items: center;
  }
  
  body.dark .themeButton {
    background: orange;
    color: #111827;
  }